.button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    color: white;
    background: green;
  } 
  /*Removemos a borda do botão padrão, adicionamos um pouco de preenchimento, definimos o cursor como um ponteiro, adicionamos um raio de borda para cantos suaves e definimos o botão para preencher a largura disponível.*/